:root {
    --primary-color: #2196F3;
    --secondary-color: #1976D2;
    --thard-color: #EF5350;
}

.header{
    background-color: var(--primary-color);
}
.card-border{
    border-width: 10px;
    font-size: large;
    background-image: url('./material/card.png');

}
.card-image-fit{
    height: 250px;
}

.board-imagetile{
    background-image: url('./material/watermark.jpg');
}

@keyframes test{
    0% {
        opacity: 0%;
        transform: translate3d(0,0,0);
    }
    50% {
        opacity: 100%;
        transform: translate3d(0,-20px,0);
    }
    70% {
        opacity: 100%;
        transform: translate3d(0,0,0);
    }
    100% {
        opacity: 0%;
        transform: translate3d(0,0,0);
    }
}
.total-money{
    font-size: x-large;
    color: gold;
}

.moneyup {
    color:gold;
    font-size: x-large;
    display: inline-block;
    animation-name: test;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.makeform{
    color: rgb(5, 253, 5);
    font-size: x-large;
    font-weight: bold;
}
.gold{
    color: gold;
    font-size: xx-large;
    font-weight: bold;
}
.silver{
    color:silver;
    font-size: xx-large;
    font-weight: bold;
}
.blonze{
    color: rgb(50, 255, 9);
    font-size: xx-large;
    font-weight: bold;
}
.otherrank{
    font-size:xx-large;
    font-weight: bold;
}


/* body {
    background-color: var(--thard-color);
} */
/* .card {
    background-color: var(--primary-color);
} */